<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.preferredTestQuery">select 1 from dual;</property>
        <property name="hibernate.c3p0.testConnectionOnCheckin">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">GAHA2016</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gaha</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.max_fetch_depth">1</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="entidades/Cursos.hbm.xml" />
        <mapping resource="entidades/Permisosperfiles.hbm.xml" />
        <mapping resource="entidades/Arbolopciones.hbm.xml" />
        <mapping resource="entidades/Horarioscabeceratmp.hbm.xml" />
        <mapping resource="entidades/Horariosdetalle.hbm.xml" />
        <mapping resource="entidades/Materias.hbm.xml" />
        <mapping resource="entidades/Dias.hbm.xml" />
        <mapping resource="entidades/Schollaryear.hbm.xml" />
        <mapping resource="entidades/Dispprofesores.hbm.xml" />
        <mapping resource="entidades/Perfilesusuario.hbm.xml" />
        <mapping resource="entidades/Usuarios.hbm.xml" />
        <mapping resource="entidades/Horarioscabecera.hbm.xml" />
        <mapping resource="entidades/Horas.hbm.xml" />
        <mapping resource="entidades/Profesoresmaterias.hbm.xml" />
        <mapping resource="entidades/Aulasrecursos.hbm.xml" />
        <mapping resource="entidades/Materiascursos.hbm.xml" />
        <mapping resource="entidades/Materiasrecursos.hbm.xml" />
        <mapping resource="entidades/Permisos.hbm.xml" />
        <mapping resource="entidades/Profesores.hbm.xml" />
        <mapping resource="entidades/Aulas.hbm.xml" />
        <mapping resource="entidades/Horariosdetalletmp.hbm.xml" />
        <mapping resource="entidades/Opciones.hbm.xml" />
        <mapping resource="entidades/Recursos.hbm.xml" />
    </session-factory>
</hibernate-configuration>
